<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- CSS resource files -->
    
    <link rel="stylesheet" href="../static/files/css/bootstrap.css">
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/style.css">
    <!-- js resource -->
    <script src="../static/files/js/bootstrap.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>

    <style>
       
        img{
                transition: all 1s;
            }
            img:hover{
                transform: scale(1.2);
            }
            h2{
                background-color: aliceblue;
            }
    </style>
</head>
<body>
    <div class="container-fluid" > 
            {% include 'navbar.html' %}
            <br>
            {% include 'carousel.html' %}
            <br><br>
            <marquee behavior="" direction="right"><h2>Top Deals of The Week</h2></marquee>
            <section class="slider p-5">
                <ul class="autoWidth">
                    {% for items in records %}
                    <li>
                        <div class="box">
                            <div class="slide-img">
                                <img src="../static/photos/{{items[5]}}" alt="products">
                                <div class="overlay">
                                    <a href="/single/{{items[0]}}" class="btn btn-success">Buy now</a>
                                </div>
                                <div class="detail-box">
                                    <p>{{items[1]}}</p>
                                    <b class="text-warning">{{items[3]}} KES</b>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <br><br>
           <marquee behavior="" direction="right"> <h2>Trending Sales This Coming Easter</h2></marquee>
            <section class="slider p-5">
                <ul class="autoWidth">
                    {% for items in records2 %}
                    <li>
                        <div class="box">
                            <div class="slide-img">
                                <img src="../static/photos/{{items[5]}}" alt="products">
                                <div class="overlay">
                                    <a href="/single/{{items[0]}}" class="btn btn-success">Buy now</a>

                                </div>
                                <div class="detail-box">
                                    <p>{{items[1]}}</p>
                                    <b class="text-warning">{{items[3]}} KES</b>

                                </div>



                            </div>

                        </div>
                    </li>
                    {% endfor %}
                </ul>

            </section>
            <br><br>
           <marquee behavior="" direction="right"> <h2>Trending Cool stuff</h2></marquee>
            <section class="slider p-5">
                <ul class="autoWidth">
                    {% for items in records3 %}
                    <li>
                        <div class="box">
                            <div class="slide-img">
                                <img src="../static/photos/{{items[5]}}" alt="products">
                                <div class="overlay">
                                    <a href="/single/{{items[0]}}" class="btn btn-success">Buy now</a>

                                </div>
                                <div class="detail-box">
                                    <p>{{items[1]}}</p>
                                    <b class="text-warning">{{items[3]}} KES</b>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <marquee behavior="" direction="right"><h2>Basketball Shoes</h2></marquee>
            <section class="slider p-5">
                <ul class="autoWidth">
                    {% for items in records4 %}
                    <li>
                        <div class="box">
                            <div class="slide-img">
                                <img src="../static/photos/{{items[5]}}" alt="products">
                                <div class="overlay">
                                    <a href="/single/{{items[0]}}" class="btn btn-success">Buy now</a>
                                </div>
                                <div class="detail-box">
                                    <p>{{items[1]}}</p>
                                    <p><b class="text-warning">{{items[3]}} KES</b></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
    </div>
</body>
</html>
